<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>id</key>
	<string>com.hxq.emoji</string>
	<key>emojis</key>
	<array>
		<dict>
			<key>chs</key>
			<string>[我觉得不行]</string>
			<key>png</key>
			<string>Input_emoji_01</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超难受]</string>
			<key>png</key>
			<string>Input_emoji_02</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[呵呵]</string>
			<key>png</key>
			<string>Input_emoji_03</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我牙白吗]</string>
			<key>png</key>
			<string>Input_emoji_04</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超晕的]</string>
			<key>png</key>
			<string>Input_emoji_05</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超迷的]</string>
			<key>png</key>
			<string>Input_emoji_06</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超嗨的]</string>
			<key>png</key>
			<string>Input_emoji_07</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[啵啵]</string>
			<key>png</key>
			<string>Input_emoji_08</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超萌]</string>
			<key>png</key>
			<string>Input_emoji_09</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超气的]</string>
			<key>png</key>
			<string>Input_emoji_10</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超浪的]</string>
			<key>png</key>
			<string>Input_emoji_11</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超丧的]</string>
			<key>png</key>
			<string>Input_emoji_12</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[踩死你]</string>
			<key>png</key>
			<string>Input_emoji_13</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超冷的]</string>
			<key>png</key>
			<string>Input_emoji_14</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超汗的]</string>
			<key>png</key>
			<string>Input_emoji_15</string>
		</dict>
		<dict>
			<key>chs</key>
			<string>[我超雷的]</string>
			<key>png</key>
			<string>Input_emoji_16</string>
		</dict>
	</array>
</dict>
</plist>
